@import "tailwindcss";

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
 background:#f6f8fa !important;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
   .responsive-card {
    height: 100%;     /* 608px */
    padding: 1.5rem;  
    width: 4.6vh;   /* 24px */
  }

  .responsive-text {
    font-size: 0.6rem; /* 15px */
    text-align: start;
     line-height: 0.8rem;      /* 22px */
    letter-spacing: -0.0050rem;
  }
}

/* Nest Hub (1024×600) */
@media screen and (device-width: 1024px) and (device-height: 600px) {
  .responsive-card {
    height: 100%;     /* 608px */
    padding: 1.5rem;  
    width: 11.2vh;   /* 24px */
  }

  .responsive-text {
    font-size: 0.74rem; /* 15px */
    text-align: start;
     line-height: 0.94rem;      /* 22px */
    letter-spacing: -0.0050rem;
    margin-left: -8px;
  }
}

/* Nest Hub Max (1280×800) */
@media screen and (device-width: 1280px) and (device-height: 800px) {
  .responsive-card {
    width: 16vh;     /* 704px */
    padding: 1.75rem;   
    height: 100%;  /* 28px */
  }

  .responsive-text {
    font-size: 1rem;      /* 16px */
    text-align: left;
      line-height: 1.26rem;
  }
}
