


/* ✅ FIRST LINE */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
/* Your other styles can come after this */


body {
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
  background-color: white;
}
